#!/bin/sh
xrandr --output VBOX1 --right-of VBOX0
            # Get from gtf:
            # gtf 1600 750 60
xrandr --newmode "1600x750"  97.72  1600 1680 1848 2096  750 751 754 777  -HSync +Vsync
xrandr --addmode VBOX1 1600x750
xrandr --output VBOX1 --mode 1600x750
